[submodule "GHS-distributed-algorithm"]
	path = GHS-distributed-algorithm
	url = https://github.com/navidakbari123/GHS-distributed-algorithm.git
[submodule "MapReduce-distributed-algorithm"]
	path = MapReduce-distributed-algorithm
	url = https://github.com/navid-ak/MapReduce-distributed-algorithm.git
